@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* body{
    width:1920px;
} */

/* shared styles */
.my{
margin-bottom:25px;
}
.text1{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.center{
    text-align: center;
}
.para{
    color:#727272;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.btn{
    width:180px;
    height:64px;
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    border:none;
}
.orange{
    color:#FF900E;
}
.gray{
    color: #727272;
}
/* nav section */
header{
    background: rgba(255, 144, 14, 0.10);
    width:100%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 230px;
}
nav ul{
    display: flex;
}
nav ul li{
    margin-left:40px;
    line-height: 26px;

}
a{
    color:#424242;
    font-size: 1.1rem;
    font-weight: 500;
}
/* banner section */
.banner{
    width:1450px;
    height:auto;
    
    margin:20px auto;
}
.banner-title{
max-width:864px;
margin: 30px auto;
text-align: center;
}
.banner-img{
    text-align: center;
    width: 100%;
    height: auto;
    margin:40px auto;
    padding-bottom:30px;
}
/* banner done */
/* team section */
.team-container{
    display: flex;
    width:100%;
    /* margin:20px auto; */
    gap:76px;
    justify-content: center;
    align-items: center;
}
.image-gallery{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;

}
.team-content{
    max-width:537px;
    height: auto;
    
}
.team-content h3{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom:20px;
}
.team-content p{
    text-align: left;
}

/* feature section start */

.feature-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:140px;
    margin-top:130px;
}
.feature-detail{
    width:586px;
    margin-bottom: 30px;
}
.feature-title h3{
    width:468px;
    margin-bottom: 24px;
}
.feature-card{
    margin-top: 20px;
}
.card{
    width:586px;
    height: 171px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);
    margin-bottom: 20px;
    padding:30px 25px;
}
.card h4{
margin-bottom: 10px;
}













/* resposive part */

@media screen and (max-width:576px){
    header{
        width:100%;
    }

    nav, .team-container{
        flex-direction:column;
        padding:30px 25px;
        /* width:100%; */
        gap:20px;
    }
    .banner{
        width:80%;
    }
    .banner-img img{
        width:100%;
    }
    .image-gallery{
        grid-template-columns:1fr ;
    }
    .team-content{
        text-align: center;
        margin-top: 20px;
    }
   .btn{
    width:140px;
    height:60px;
    font-size: 1.1rem;
    padding:10px 15px;
   }

}